:root {
    --viewport: 340px;
}

body {
    font-family: futura-pt, serif;
    margin: 0;
    background: #1f8fff40;
}

*.wrapper {
    width: var(--viewport);
    margin: 0 auto;


}
img{
    height: 100%;
}
article.wrapper {
    box-shadow: 0 0 12px #00000080;
    border-radius: 12px;
    margin-bottom: 36px;
    margin-top: 12px;
    padding: 12px;
    background: white;
}

header {
    height: 56px;
    background: #1e90ff;
    color: white;
    margin: 0;
    box-shadow: 0 0 12px #00000080;
    padding-top: 6px;
}
header > div.wrapper{
    display: flex;
    align-items: center;
}
header > div.wrapper > img {
    height: 50px;
    cursor: pointer;
}

main {
    padding: 12px;
}

article {
    display: flex;
    flex-flow: column;
    position: relative;
}

section#opt {
    display: flex;
    flex-flow: column;
}

button {
    background: #ffc0cb;
    border: none;
    padding: 12px;
    margin: 12px 0;
    border-radius: 12px;
}

section#opt>button:nth-child(1) {
    background: #ff6565;
}

section#opt>button:nth-child(2) {
    background: #ffe365;
}

section#opt>button:nth-child(3) {
    background: #65ff6d;
}

section#opt>button:nth-child(4) {
    background: #65b5ff;
}

section#opt>button.clicked:nth-child(1) {
    background: #fc3333;
}

section#opt>button.clicked:nth-child(2) {
    background: #fbff20;
}

section#opt>button.clicked:nth-child(3) {
    background: #1ef829;
    ;
}

section#opt>button.clicked:nth-child(4) {
    background: #158eff;
}

section#opt>button.notclicked:nth-child(1) {
    background: #ffbfbf;
    color: #00000080;
}

section#opt>button.notclicked:nth-child(2) {
    background: #ffefa9;
    color: #00000080;
}

section#opt>button.notclicked:nth-child(3) {
    background: #a7ffab;
    color: #00000080;
}

section#opt>button.notclicked:nth-child(4) {
    background: #a2d2ff;
    color: #00000080;
}

button.action {
    background: #1e90ff;
    color: white;
    font-weight: bold;
    width: 128px;
    align-self: flex-end;
}
div#barContainer{
    height: 6px;
    border-radius: 6px;
    width: 100%;
    background: #1e8fff40;
}
div#progress{
    height: 6px;
    background: #1e90ff;
    border-radius: 6px;
    width: 10%;
    transition: 0.5s;
}
div#progress.p2{
    width: 20%;
}
div#progress.p3{
    width: 30%;
}
div#progress.p4{
    width: 40%;
}
div#progress.p5{
    width: 50%;
}
div#progress.p6{
    width: 60%;
}
div#progress.p7{
    width: 70%;
}
div#progress.p8{
    width: 80%;
}
div#progress.p9{
    width: 90%;
}
div#progress.p10{
    width: 100%;
}

section#results {
    display: flex;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

}

section#results>h3 {
    font-size: 72px;
}

.cls-1 {
    background: #5cff6e;

}

.cls-2 {
    background: #f4ff5c;

}

.cls-3 {
    background: #ff7d5c;

}

.ct-series-a .ct-line {
    stroke: #1e90ff;
    stroke-width: 5px;
}
.ct-series-a .ct-point {
    stroke: #1e90ff;
}
@media screen and (min-width:790px){
    header > div.wrapper {
        width: 760px;
    }
    main{
        display:flex;
        width: 780px;
        margin: 0 auto;
        justify-content: space-between;
    }
    section#opt {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    article.wrapper{
        width: 45%;
        margin: 12px;
    }
    article#quest{
        width: 100%;
    }
    section#opt > button{
        width: 42%;
        height: 72px;
        margin: 2% 0%;
    }
}