body {
    font-family: futura-pt, Futura, sans-serif;
}

div.wrapper {
    width: 300px;
    margin: 0 auto;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: black;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 800;
    padding: 1px;
}
form#admin {
    margin-top: 96px;
    display: flex;
    flex-flow: wrap;
}

form#admin fieldset {
    width: 100%;
    border: none;
    background: #fab0fd;
    margin: 0;
}

form#admin fieldset:nth-child(even) {
    background: #88d7f1;
}

form#admin fieldset:first-child {
    background: white;
}

form#admin fieldset label:last-child {
    font-size: medium;
    line-height: 36px;
}

form#admin fieldset span.material-icons {
    font-size: medium;
    line-height: 36px;
    cursor: pointer;
}

input[type=text] {
    width: 98%;
    margin-bottom: 6px;
    border: none;
    border-radius: 12px;
    padding: 6px;
    font-size: large;
}

input[type=text]:focus {
    outline: none;
    text-decoration: underline;
}

input[type=checkbox] {
    display: none;
}

input#send {
    position: relative;
    right: 0;
    margin-top: 12px;
    margin-left: 55%;
    padding: 12px;
    font-size: large;
    font-weight: bolder;
    border: none;
    border-radius: 12px;
    background: #fffd77;
}
footer{
    margin-top: 96px;
    background: black;
    color: white;
    padding: 36PX;
}
@media screen and (min-width: 979px) and (max-width: 1199px){
    div.wrapper{
        width: 978px;
    }
}
@media screen and (min-width: 1200px){
    div.wrapper{
        width: 1000px;
    }
}
