body{
    margin: 0;
    padding: 0;

    font-family: 'Futura', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form#quiz{
    width: 380px;
    margin: 0 auto;
    
    padding:12px;
}
form#quiz > fieldset > label{
    width: 98%;
    padding: 36px;
    margin: 1%;
    border-radius: 12px;
    text-align: center;
}
fieldset > label{
    background: #b190c4;
}
fieldset > label:hover{
    background: #86619b;
}
form#quiz > fieldset > label.pressed{
    background: #562474;
    color: white;
}
form#quiz > fieldset > label.disabled{
    background: #e1c0f5;
    color: white;
}
fieldset input{
    display: none;
}
form>input{
    margin-left: 9%;
    border: none;
    border-radius: 12px;
    padding: 24px;
}
form > input:hover{
    background: lightgray;
}
fieldset{
    display: flex;
    flex-flow: wrap;
    border: none;
    justify-content: center;
    margin: 5%;
    margin-bottom: 10%;
}
legend{
    font-size: large;
    font-weight: bold;
    padding: 12px;
}

