body{
    font-family: "Futura", Futura, sans-serif;
    margin: 0;
}
header{
    height: 72px;
    background: dodgerblue;
    color: white;
    margin: 0;
}
header > h1{
    margin: 0;
    line-height: 72px;
}
main{
    padding: 12px;
}
article#quest{
    display: flex;
    flex-flow: column;
}
section#opt{
    display: flex;
    flex-flow: column;
}
button{
    background: #ffc0cb;
    border: none;
    padding: 12px;
    margin: 12px 0;
    border-radius: 12px;
}
button.clicked{
    background: #fd768c;
}
button.notclicked{
    background: #fce0e4;
}
button#next{
    background: greenyellow;
}